<!--<h2>{{ pencil.name }} Details</h2>
<div><span>id: </span>{{pencil.id}}</div>
<div><span>name: </span>{{pencil.name | uppercase}}</div>
<div>
  <label>Name:
      <input [(ngModel)]="pencil.name" placeholder="name">
  </label>
</div>-->

<h2>My Pencils</h2>

<ul class="pencils">
  <li *ngFor="let pencil of pencils"  (click)="onSelect(pencil)" [class.selected]="pencil === selectedPencil"> 
    <span class="badge">{{ pencil.id }}</span> {{ pencil.name }}
  </li>
</ul>
<app-pencil-detail [pencil]="selectedPencil"></app-pencil-detail>

<form [formGroup]="myForm" (ngSubmit)="mySubmit(myForm.value)">
  <input form="text" [formControl]="myForm.controls['name']">
  <input form="text" [formControl]="myForm.controls['id']">
  
  <button type="submit">OK</button>
  </form>
  <div *ngIf="name.hasError('required')">Nazwa jest wymagana</div>
  <div *ngIf="name.hasError('minlength')">Nazwa jest za krotka</div>
  <div *ngIf="name.hasError('bolekValue')">Nazwa to Bolek??</div>
  <div *ngIf="id.hasError('min')">Id jest konieczne</div>
